.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: brown;
}
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
.direction:hover{
    background-color: aqua;
    color: darkmagenta;
}
.ZINAIDA{
    color: deeppink;
}
.MARTHA{
    color: indigo;
}
table,th,td{
    color: forestgreen;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-bottom: 4px;
    margin-top: 6px;
    tr:nth-child(even) {
        background-color: lightskyblue;
    }
}