.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: brown;
}
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
.direction:hover{
    background-color: aqua;
    color: darkmagenta;
}
.ZINAIDA{
    color: deeppink;
}
.MARTHA{
    color: indigo;
}
.FIRSTGUEST{
    color: darkorange;
}
.ZINAIDA:hover{
    text-shadow: 3px 3px 5px darkblue;
}
.MARTHA:hover{
    text-shadow: 3px 3px 5px violet;
}
.FIRSTGUEST:hover{
    text-shadow: 3px 3px 5px r;
}
table,th,td{
    color: forestgreen;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-bottom: 4px;
    margin-top: 6px;
}
tr:nth-child(even) {
    background-color: lightskyblue;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color: aqua;
  } 
  ul.navbar-horizontal a {
    display:block;
    padding:8px
  }
  ul.navbar-horizontal a:hover {  
    background-color:bisque;
    color:white;
  }